@using KontrolaPakowania.Server.Services
@using KontrolaPakowania.Shared.DTOs.Requests
@using KontrolaPakowania.Shared.Enums

@page "/kontrola-pakowania/{jl}/single"
@layout NoNavLayout
@inherits PackingPageBase

<div class="container-fluid d-flex flex-column vh-100 p-3 pack-control">
    <div class="d-flex align-items-center mb-3 header-row w-100">

    </div>
</div>

@code {
}
